.DS_Store
darwin/dmg/.nanobox-boot2docker.box
darwin/dmg/nanobox.pkg
darwin/dmg/.v*
darwin/nanobox.dmg
darwin/nanobox/*
linux/nanobox/opt/
linux/*.deb
linux/nanobox-bundle/opt/
linux/nanobox/usr/share/man/man1/nanobox.1.gz
windows/nanobox-bundle.wixpdb
windows/*.exe
windows/*.msi
