.DS_Store
darwin/dmg/.nanobox-boot2docker.box
darwin/dmg/nanobox.pkg
darwin/dmg/.v*
darwin/dmg/.dockertoolbox.uninstall.tool
darwin/dmg/.DockerToolbox.pkg
darwin/nanobox.dmg
darwin/nanobox/*
linux/*.deb
linux/build-trusty.sh
linux/nanobox/opt/
linux/nanobox-bundle/opt/
linux/nanobox/usr/share/man/man1/nanobox.1.gz
windows/nanobox-bundle.wixpdb
windows/*.exe
windows/*.msi
