Package: nanobox
Version: 0.0.7
Section: base
Priority: optional
Architecture: all
Depends: vagrant, virtualbox
Maintainer: Steve Domino <sdomino@pagodabox.com>
Description: Nanobox cli utility
 This tool provides a simple, quick dev environment.
