Package: nanobox
Version: 0.0.7
Section: base
Priority: optional
Architecture: amd64
Depends: vagrant, virtualbox
Maintainer: Pagoda Box <sdomino@pagodabox.com>
Description: Nanobox cli utility
 This tool provides a simple, quick dev environment.
Homepage: http://nanobox.io/
